@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.nationWideDisplay {

    .dailyData {
        display: grid;
        place-items: center;
        font-size: 2rem;

        @media(max-width: 1200px) {
            grid-template-columns: 100%;
        }

        @media(min-width: 1200px) {
            grid-template-columns: 50% 50%;
        }

        .casesDifference {
            font-weight: 700;
        }

        .worse {
            color: red
        }

        .better {
            color: green
        }

        .addPlus::before {
            content: "+";
        }
    }
}